.cabecera {
    display: flex;
    align-items: center;
    justify-content: safe;
   /* background-color: #ffffff6d;*/
   /* border-bottom: 2px solid #eaf1f1d4;*/
    position: fixed;
    top: 1em;
    left: 0;
    width: 100%;
    height: 9rem;
    z-index: 100;
    transition: height 0.3s ease, background-color 0.3s ease;
}

/*cierre cabecera*/
.cabecera--scrolled {
    height: 6rem;
     background-color: #c9cfd500;
    border-bottom-color: #dd304d00;
}
.cabecera--scrolled .cabeceraBotones {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}


.cabecera img{
    transition: transform 0.3s ease, filter 0.3s ease;

}
.cabecera img:hover{
  transform: scale(1.05);
 
}
/*cierre cabecera*/
.cabecera--scrolled .logo img {
    width: 140px;
    cursor: pointer;
}
.cabecera .logo img {
    transition: width 0.3s ease, transform 0.3s ease, filter 0.3s ease;
}

.cabeceraBotones{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  top: 0;
  bottom: 0;
  
  transition: opacity 0.3s ease;
}
.cabeceraBotones ul{
  display: flex;
  flex-direction: row;
  gap: 5rem; 
}

.cabeceraBotones li{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 2.3rem;
  list-style: none;
}
.cabeceraBotones a{
  color: #eaf1f1;
  text-decoration: none;
  text-shadow:
        1px 1px 1px #aa9359,
        2px 2px 0px #000000,
        2px 2px 4px #000000,
        4px 4px 20px rgba(0, 0, 0, 0.498);
 
}
.cabeceraBotones a:hover{
   color: #ffffff;
   text-decoration: underline;
}
.logoOpciones {
  position: absolute;
  filter: brightness(0) invert(1) 
          sepia(1) saturate(0.2) 
          hue-rotate(160deg) brightness(0.95);
          text-decoration: none;
          box-shadow: none;
          transition: all 0.5s;    
}
.logoOpciones:hover{
          filter:  drop-shadow(0 0 1px rgba(0, 0, 0, 0.344));
          border: #E07BB2 outset 1px;
           background-color: #eaf1f1;
           border-radius: 3px;
           scale: unset;
           transform: rotate(20deg);

}
.logoOpcionesBlack{
  position: absolute;
  transition: all 0.3s;
}
.logoOpcionesBlack:hover{
        filter:  drop-shadow(0 0 1px rgba(0, 0, 0, 0.344));
          border: #E07BB2 outset 1px;
           background-color: #eaf1f1;
           box-shadow: 1px 1px 1px black;
           border-radius: 3px;
           scale: unset;
           transform: rotate(20deg);
}
