.hall{
  height: 100%;
  background-image:
   linear-gradient(
        180deg, 
     
        #e1d4c000 90%,
        #E1D4C0 100%    
    ),
     url(imagenes/fondoPropiedades.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10em;


   

}
.hallContenido{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fondoVice{
  width: 100%;

}

.hallContenido img {
  padding-top: 3.5em;
  width: 50rem;
}
.hallContenido p{

padding-top: 1em;

  font-family: "rageitalic";
    font-size: 10em;
    color:#FEFEFE;
    text-align: center;
    line-height: 0.8em;
    
    text-shadow:
        2px 3px 0 #E07BB2,
  
        7px 6px 0 #000000,
     
        0 0 20px rgba(0, 0, 0, 0.064),
        0 0 30px rgb(0, 0, 0, 0.064),
           0 0 60px rgba(0, 0, 0, 0.429),
        0 0 60px rgba(0, 0, 0, 0.415);

}
